In [106]:
import pandas as pd

In [107]:
clase_1 = pd.read_csv("../data/clase_1.csv", sep =";")
list(clase_1.columns)

['Nombre',
 'Email',
 'Promoción',
 'Fecha_comienzo',
 'Campus',
 'Proyecto_HLF',
 'Proyecto_EDA',
 'Proyecto_BBDD',
 'Proyecto_ML',
 'Proyecto_Deployment']

In [108]:
clase_1

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
5,Leoncio Tena,Leoncio_Tena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
6,Odalys Torrijos,Odalys_Torrijos@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
8,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
9,Clementina Santos,Clementina_Santos@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
10,Daniela Falcó,Daniela_Falcó@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
11,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto
12,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
13,Anita Heredia,Anita_Heredia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
14,Eli Casas,Eli_Casas@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto

In [109]:

clase_1[['Nombre', 'Apellido']] = clase_1['Nombre'].str.split(' ', n = 1, expand=True)
nombre_index = clase_1.columns.get_loc('Nombre')  
clase_1.insert(nombre_index + 1, 'Apellido', clase_1.pop('Apellido'))

In [110]:
clase_1

,Nombre,Apellido,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet,Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,Jorge,Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,Onofre,Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,Merche,Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar,Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
5,Leoncio,Tena,Leoncio_Tena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
6,Odalys,Torrijos,Odalys_Torrijos@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,Eduardo,Caparrós,Eduardo_Caparrós@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
8,Ignacio,Goicoechea,Ignacio_Goicoechea@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
9,Clementina,Santos,Clementina_Santos@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
10,Daniela,Falcó,Daniela_Falcó@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
11,Abraham,Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto
12,Maximiliano,Menéndez,Maximiliano_Menéndez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
13,Anita,Heredia,Anita_Heredia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
14,Eli,Casas,Eli_Casas@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto

In [111]:
clase_2 = pd.read_csv("../data/clase_2.csv", sep =";")
list(clase_2.columns)

['Nombre',
 'Email',
 'Promoción',
 'Fecha_comienzo',
 'Campus',
 'Proyecto_HLF',
 'Proyecto_EDA',
 'Proyecto_BBDD',
 'Proyecto_ML',
 'Proyecto_Deployment']

In [112]:
clase_2[['Nombre', 'Apellido']] = clase_2['Nombre'].str.split(' ', n = 1, expand=True)
nombre_index = clase_2.columns.get_loc('Nombre')  
clase_2.insert(nombre_index + 1, 'Apellido', clase_2.pop('Apellido'))

In [113]:
clase_2

,Nombre,Apellido,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Guillermo,Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto
1,Sergio,Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto
2,Carlito,Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto
3,Haydée,Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto
4,Chita,Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
5,Joaquina,Asensio,Joaquina_Asensio@gmail.com,Febrero,12/02/2024,Madrid,No Apto,No Apto,Apto,Apto,Apto
6,Cristian,Sarabia,Cristian_Sarabia@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,No Apto,Apto,Apto
7,Isabel,Ibáñez,Isabel_Ibáñez@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
8,Desiderio,Jordá,Desiderio_Jordá@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,No Apto,Apto
9,Rosalina,Llanos,Rosalina_Llanos@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto

In [114]:
clase_3 = pd.read_csv("../data/clase_3.csv", sep =";")
list(clase_3.columns)

['Nombre',
 'Email',
 'Promoción',
 'Fecha_comienzo',
 'Campus',
 'Proyecto_WebDev',
 'Proyecto_FrontEnd',
 'Proyecto_Backend',
 'Proyecto_React',
 'Proyecto_FullSatck']

In [115]:
clase_3[['Nombre', 'Apellido']] = clase_3['Nombre'].str.split(' ', n = 1, expand=True)
nombre_index = clase_3.columns.get_loc('Nombre')  
clase_3.insert(nombre_index + 1, 'Apellido', clase_3.pop('Apellido'))

In [116]:
clase_3

,Nombre,Apellido,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Amor,Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
1,Teodoro,Alberola,Teodoro_Alberola@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,Apto,No Apto,Apto
2,Cleto,Plana,Cleto_Plana@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
3,Aitana,Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
4,Dolores,Valbuena,Dolores_Valbuena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
5,Julie,Ferrer,Julie_Ferrer@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,No Apto,Apto,No Apto
6,Mireia,Cabañas,Mireia_Cabañas@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,Flavia,Amador,Flavia_Amador@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,No Apto,Apto,Apto
8,Albino,Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
9,Ester,Sánchez,Ester_Sánchez@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,No Apto,Apto
10,Luis,Miguel Galvez,Luis_Miguel_Galvez@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
11,Loida,Arellano,Loida_Arellano@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
12,Heraclio,Duque,Heraclio_Duque@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,No Apto,No Apto,No Apto
13,Herberto,Figueras,Herberto_Figueras@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto

In [117]:
clase_4 = pd.read_csv("../data/clase_4.csv", sep =";")
list(clase_4.columns)

['Nombre',
 'Email',
 'Promoción',
 'Fecha_comienzo',
 'Campus',
 'Proyecto_WebDev',
 'Proyecto_FrontEnd',
 'Proyecto_Backend',
 'Proyecto_React',
 'Proyecto_FullSatck']

In [118]:
clase_4[['Nombre', 'Apellido']] = clase_4['Nombre'].str.split(' ', n = 1, expand=True)
nombre_index = clase_4.columns.get_loc('Nombre')  
clase_4.insert(nombre_index + 1, 'Apellido', clase_4.pop('Apellido'))

In [119]:
clase_4

,Nombre,Apellido,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Teresa,Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
1,Estrella,Murillo,Estrella_Murillo@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
2,Ernesto,Uriarte,Ernesto_Uriarte@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
3,Daniela,Guitart,Daniela_Guitart@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto
4,Timoteo,Trillo,Timoteo_Trillo@gmail.com,Febrero,12/02/2024,Valencia,No Apto,Apto,Apto,Apto,No Apto
5,Ricarda,Tovar,Ricarda_Tovar@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
6,Alejandra,Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,No Apto,Apto,Apto
7,Daniel,Rosselló,Daniel_Rosselló@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,Apto,No Apto,No Apto
8,Rita,Olivares,Rita_Olivares@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,No Apto,Apto,Apto
9,Cleto,Montes,Cleto_Montes@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
10,Marino,Castilla,Marino_Castilla@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,Apto,No Apto,No Apto
11,Estefanía,Valcárcel,Estefanía_Valcárcel@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,No Apto,Apto
12,Noemí,Vilanova,Noemí_Vilanova@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto

In [120]:
claustro = pd.read_csv("../data/claustro.csv", sep =";")
list(claustro.columns)

['Nombre', 'Rol', 'Vertical', 'Promocion', 'Campus', 'Modalidad']

In [125]:
#Juntar las 4 primeras csv's con nombre,apellido y correo

df_concat = pd.concat([clase_1, clase_2, clase_3, clase_4], ignore_index=True)

In [142]:
df_concat.head()

,Nombre,Apellido,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Jafet,Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
1,Jorge,Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
2,Onofre,Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
3,Merche,Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
4,Pilar,Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN

In [135]:
alumnos =df_concat.iloc[:, :3]

In [136]:
alumnos

         Nombre       Apellido                           Email
0         Jafet         Casals          Jafet_Casals@gmail.com
1         Jorge     Manzanares      Jorge_Manzanares@gmail.com
2        Onofre         Adadia         Onofre_Adadia@gmail.com
3        Merche          Prada          Merche_Prada@gmail.com
4         Pilar         Abella          Pilar_Abella@gmail.com
5       Leoncio           Tena          Leoncio_Tena@gmail.com
6        Odalys       Torrijos       Odalys_Torrijos@gmail.com
7       Eduardo       Caparrós      Eduardo_Caparrós@gmail.com
8       Ignacio     Goicoechea    Ignacio_Goicoechea@gmail.com
9    Clementina         Santos     Clementina_Santos@gmail.com
10      Daniela          Falcó         Daniela_Falcó@gmail.com
11      Abraham          Vélez         Abraham_Vélez@gmail.com
12  Maximiliano       Menéndez  Maximiliano_Menéndez@gmail.com
13        Anita        Heredia         Anita_Heredia@gmail.com
14          Eli          Casas             Eli_Casas@gmail.com
15    Guillermo        Borrego     Guillermo_Borrego@gmail.com
16       Sergio        Aguirre        Sergio_Aguirre@gmail.com
17      Carlito        Carrión       Carlito_Carrión@gmail.com
18       Haydée       Figueroa       Haydée_Figueroa@gmail.com
19        Chita        Mancebo         Chita_Mancebo@gmail.com
20     Joaquina        Asensio      Joaquina_Asensio@gmail.com
21     Cristian        Sarabia      Cristian_Sarabia@gmail.com
22       Isabel         Ibáñez         Isabel_Ibáñez@gmail.com
23    Desiderio          Jordá       Desiderio_Jordá@gmail.com
24     Rosalina         Llanos       Rosalina_Llanos@gmail.com
25         Amor      Larrañaga        Amor_Larrañaga@gmail.com
26      Teodoro       Alberola      Teodoro_Alberola@gmail.com
27        Cleto          Plana           Cleto_Plana@gmail.com
28       Aitana      Sebastián      Aitana_Sebastián@gmail.com
29      Dolores       Valbuena      Dolores_Valbuena@gmail.com
30        Julie         Ferrer          Julie_Ferrer@gmail.com
31       Mireia        Cabañas        Mireia_Cabañas@gmail.com
32       Flavia         Amador         Flavia_Amador@gmail.com
33       Albino         Macias         Albino_Macias@gmail.com
34        Ester        Sánchez         Ester_Sánchez@gmail.com
35         Luis  Miguel Galvez    Luis_Miguel_Galvez@gmail.com
36        Loida       Arellano        Loida_Arellano@gmail.com
37     Heraclio          Duque        Heraclio_Duque@gmail.com
38     Herberto       Figueras     Herberto_Figueras@gmail.com
39       Teresa         Laguna         Teresa_Laguna@gmail.com
40     Estrella        Murillo      Estrella_Murillo@gmail.com
41      Ernesto        Uriarte       Ernesto_Uriarte@gmail.com
42      Daniela        Guitart       Daniela_Guitart@gmail.com
43      Timoteo         Trillo        Timoteo_Trillo@gmail.com
44      Ricarda          Tovar         Ricarda_Tovar@gmail.com
45    Alejandra      Vilaplana   Alejandra_Vilaplana@gmail.com
46       Daniel       Rosselló       Daniel_Rosselló@gmail.com
47         Rita       Olivares         Rita_Olivares@gmail.com
48        Cleto         Montes          Cleto_Montes@gmail.com
49       Marino       Castilla       Marino_Castilla@gmail.com
50    Estefanía      Valcárcel   Estefanía_Valcárcel@gmail.com
51        Noemí       Vilanova        Noemí_Vilanova@gmail.com

In [123]:
claustro[['Nombre', 'Apellido']] = claustro['Nombre'].str.split(' ', n = 1, expand=True)
nombre_index = claustro.columns.get_loc('Nombre')  
claustro.insert(nombre_index + 1, 'Apellido', claustro.pop('Apellido'))

In [140]:
claustro

      Nombre      Apellido Rol Vertical   Promocion    Campus   Modalidad
0        Noa         Yáñez  TA       DS  Septiembre    Madrid  Presencial
1  Saturnina       Benitez  TA       DS  Septiembre    Madrid  Presencial
2       Anna         Feliu  TA       FS  Septiembre    Madrid  Presencial
3    Rosalva         Ayuso  TA       FS  Septiembre  Valencia  Presencial
4        Ana  Sofía Ferrer  TA       FS     Febrero  Valencia  Presencial
5   Angélica        Corral  TA       FS     Febrero    Madrid  Presencial
6      Ariel         Lledó  TA       DS  Septiembre    Madrid  Presencial
7      Mario         Prats  LI       FS     Febrero  Valencia      Online
8       Luis  Ángel Suárez  LI       FS  Septiembre    Madrid      Online
9      María  Dolores Diaz  LI       DS  Septiembre    Madrid      Online

In [139]:
claustro.iloc[:,:2]

      Nombre      Apellido
0        Noa         Yáñez
1  Saturnina       Benitez
2       Anna         Feliu
3    Rosalva         Ayuso
4        Ana  Sofía Ferrer
5   Angélica        Corral
6      Ariel         Lledó
7      Mario         Prats
8       Luis  Ángel Suárez
9      María  Dolores Diaz